<div class="page-header">
  <h3>Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @listing.title %></dd>

      <dt>Private room or entire home</dt>
      <dd><%= @listing.private_room_or_entire_home %></dd>

      <dt>Photos</dt>
      <dd><img src="<%= @listing.photos %>" class="img-responsive"></dd>

      <dt>Description</dt>
      <dd><%= @listing.description %></dd>

      <dt>Bedrooms</dt>
      <dd><%= @listing.bedrooms %></dd>

      <dt>Bathrooms</dt>
      <dd><%= @listing.bathrooms %></dd>

      <dt>Beds</dt>
      <dd><%= @listing.beds %></dd>

      <dt>Max occupants</dt>
      <dd><%= @listing.max_occupants %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @listing.neighborhood %></dd>

      <dt>City</dt>
      <dd><%= @listing.city %></dd>

      <dt>Policies</dt>
      <dd><%= @listing.policies %></dd>

      <dt>Default price per night</dt>
      <dd><%= @listing.default_price_per_night %></dd>

      <dt>Nights available</dt>
      <dd><%= @listing.nights_available %></dd>

      <dt>Price</dt>
      <dd><%= @listing.price %></dd>

      <dt>Host</dt>
      <dd>
        <% if @listing.host.present? %>
          <a href="/hosts/<%= @listing.host_id %>">
            <%= @listing.host.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listings" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @listing.host %>
        <a href="/listings/<%= @listing.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_listing/<%= @listing.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Listing has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @listing.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.listing_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <%= select_tag(:guest_id, options_from_collection_for_select(Guest.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for accuracy -->
      <div class="form-group">
        <label for="accuracy" class="control-label">
          Accuracy
        </label>

        <input type="text" id="accuracy" name="accuracy" placeholder="Accuracy" class="form-control" value="">
      </div>

      <!-- Label and input for communication -->
      <div class="form-group">
        <label for="communication" class="control-label">
          Communication
        </label>

        <input type="text" id="communication" name="communication" placeholder="Communication" class="form-control" value="">
      </div>

      <!-- Label and input for cleanliness -->
      <div class="form-group">
        <label for="cleanliness" class="control-label">
          Cleanliness
        </label>

        <input type="text" id="cleanliness" name="cleanliness" placeholder="Cleanliness" class="form-control" value="">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="">
      </div>

      <!-- Label and input for check_in_15 -->
      <div class="form-group">
        <label for="check_in_15" class="control-label">
          Check in 15
        </label>

        <input type="text" id="check_in_15" name="check_in_15" placeholder="Check in 15" class="form-control" value="">
      </div>

      <!-- Label and input for value -->
      <div class="form-group">
        <label for="value" class="control-label">
          Value
        </label>

        <input type="text" id="value" name="value" placeholder="Value" class="form-control" value="">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @listing.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.guest_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <%= select_tag(:guest_id, options_from_collection_for_select(Guest.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <button class="btn btn-block btn-success">
        Create Bookmark
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
