<div class="page-header">
  <h3>Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @listing.title %></dd>

      <dt>Private room or entire home</dt>
      <dd><%= @listing.private_room_or_entire_home %></dd>

      <dt>Photos</dt>
      <dd><img src="<%= @listing.photos %>" class="img-responsive"></dd>

      <dt>Description</dt>
      <dd><%= @listing.description %></dd>

      <dt>Bedrooms</dt>
      <dd><%= @listing.bedrooms %></dd>

      <dt>Bathrooms</dt>
      <dd><%= @listing.bathrooms %></dd>

      <dt>Beds</dt>
      <dd><%= @listing.beds %></dd>

      <dt>Max occupants</dt>
      <dd><%= @listing.max_occupants %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @listing.neighborhood %></dd>

      <dt>City</dt>
      <dd><%= @listing.city %></dd>

      <dt>Policies</dt>
      <dd><%= @listing.policies %></dd>

      <dt>Default price per night</dt>
      <dd><%= @listing.default_price_per_night %></dd>

      <dt>Nights available</dt>
      <dd><%= @listing.nights_available %></dd>

      <dt>Price</dt>
      <dd><%= @listing.price %></dd>

      <dt>Host</dt>
      <dd><%= @listing.host_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listings" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @listing.host %>
        <a href="/listings/<%= @listing.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_listing/<%= @listing.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Listing has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @listing.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.listing_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Listing has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @listing.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.guest_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
